<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <OrleansConfiguration xmlns="urn:orleans">
    <Globals>
      <StorageProviders>
        <Provider Type="Orleans.Storage.MemoryStorage" Name="OrleansStorage" />
       
      </StorageProviders>
    </Globals>
  </OrleansConfiguration>
</configuration>